.filler {
    flex: 1 1 auto;
}

.logo {
    height: 32px;
    object-fit: contain;
    padding: 0 5px;
    width: 32px;
}

.product-name {
    color: #5f6368;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.profile-img-menu {
    border-radius: 40px;
    height: 80px;
    margin-bottom: 15px;
    object-fit: contain;
    width: 80px;
}

.profile-img-toolbar {
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    object-fit: contain;
    width: 32px;
}

.profile-menu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.profile-name {
    margin-bottom: 0;
}

.scm-toolbar {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.sign-out-btn {
    margin-top: 10px;
}

.toolbar-icon {
    margin: 0 14px;
}
