.container {
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    padding: 10px;
    display: grid;
    box-sizing: border-box;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-header {
    display: flex;
    align-self: end;
}

.chart-container {
    flex-grow: 1;
}
