.container {
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    padding: 10px;
    display: flex;
}

.card {
    padding: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}
