.container {
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    padding: 10px;
    display: grid;
    box-sizing: border-box;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.card {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.card-header {
    padding: 10px;
    display: flex;
    justify-content: end;
    background-color: #a4c2f4 !important;
}

.chart-container {
    flex-grow: 1;
}

.chart-title {
    font-weight: bold;
    display: block;
    width: 100%;
}

::ng-deep .mat-icon-button {
    line-height: 20px;
}
