.container {
    padding: 10px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    overflow-y: auto;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.submit-button {
    margin-top: 48px;
    margin-bottom: 36px;
}

mat-panel-title {
    font-size: 1.5em;
}

@import "src/styles.scss";

mat-expansion-panel {
    border-left: 5px solid mat-color($scm-primary);
}

.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.error-icon {
    color: red;
    font-size: 8em;
    height: auto;
    width: auto;
}
