.container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.body-container {
    padding: 10px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    overflow-y: auto;
}

.header-container {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.side-panel-header {
    font-size: 1.8em;
    margin: 0;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.submit-button {
    margin-top: 48px;
    margin-bottom: 36px;
}

mat-panel-title {
    font-size: 1.5em;
}

@import "src/styles.scss";

mat-expansion-panel {
    border-left: 5px solid mat-color($scm-primary);
}
