<form [formGroup]="downstreamForm">
    <div class="form-input-container">
        <div formGroupName="locationFilterGroup">

            <h2>Filter Locations</h2>

            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="countrySelect" multiple>
                    <mat-option *ngFor="let country of countrySelectOptions" [value]="country.code">{{ country.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>State/Region</mat-label>
                <mat-select formControlName="regionSelect" multiple>
                    <mat-option *ngFor="let region of regionSelectOptions" [value]="region.code">{{ region.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select formControlName="citySelect" multiple>
                    <mat-option *ngFor="let city of citySelectOptions" [value]="city.code">{{ city.name }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div formGroupName="additionalFilterGroup">

            <h2>Additional Properties</h2>

            <mat-form-field appearance="outline">
                <mat-label>Minimum Lead Time</mat-label>
                <input matInput type="number" formControlName="minLeadTimeInput">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Maximum Lead Time</mat-label>
                <input matInput type="number" formControlName="maxLeadTimeInput">
            </mat-form-field>

        </div>
    </div>
</form>
