<agm-map [zoom]="3" [minZoom]="2.5" [latitude]="initialZoomLatLong.lat" [longitude]="initialZoomLatLong.long"
    (mapReady)="onMapLoad($event)" [streetViewControl]="false">
    <div *ngIf="map">
        <div *ngFor="let layer of ($layers | async)">
            <scm-route-layer [map]="this.map" [layer]="layer" *ngIf="isOfTypeRouteLayer(layer)"></scm-route-layer>
            <scm-heatmap-layer [map]="this.map" [layer]="layer" *ngIf="isOfTypeHeatmapLayer(layer)"></scm-heatmap-layer>
            <scm-shape-layer [layer]="layer" *ngIf="isOfTypeShapeLayer(layer)"></scm-shape-layer>
        </div>
    </div>
</agm-map>
<div class="form-overlay" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
    <h3>Loading data...</h3>
</div>
<div class="form-overlay" *ngIf="error$ | async as error">
    <mat-icon class="error-icon">error</mat-icon>
    <h3>{{ error.message }}</h3>
</div>