<div *ngIf="this.formQueryResult$ | async as formQueryResult">
    <div class="card-container">
        <div class="card" *ngIf="formQueryResult.upstream">
            <div class="card-header">
                <b>Upstream</b>
            </div>
            <div class="chart-container">
                <ngx-datatable class="material no-box fullscreen" [columnMode]="ColumnMode.force" [limit]="10"
                    [footerHeight]="50" [headerHeight]="50" rowHeight="auto" [rows]="formQueryResult.upstream">
                    <ngx-datatable-column [name]="col.name" [prop]="col.prop" *ngFor="let col of upstreamColumns">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <b>CM</b>
            </div>
            <div class="chart-container">
                <ngx-datatable class="material no-box fullscreen" [columnMode]="ColumnMode.force" [limit]="10"
                    [footerHeight]="50" [headerHeight]="50" rowHeight="auto" [rows]="formQueryResult.cm">
                    <ngx-datatable-column [name]="col.name" [prop]="col.prop" *ngFor="let col of cmColumns">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngIf="formQueryResult.downstream">
            <div class="card-header">
                <b>Downstream</b>
            </div>
            <div class="chart-container">
                <ngx-datatable class="material no-box fullscreen" [columnMode]="ColumnMode.force" [limit]="10"
                    [footerHeight]="50" [headerHeight]="50" rowHeight="auto" [rows]="formQueryResult.downstream">
                    <ngx-datatable-column [name]="col.name" [prop]="col.prop" *ngFor="let col of downstreamColumns">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>