.table-container {
    padding: 10px;
}

td,
th {
    padding: 0 10px !important;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    overflow: auto;
}

.mat-cell:nth-child(odd) {
    background-color: #fafafa;
}
