@import '~@angular/material/theming';
@include mat-core();
$scm-primary: mat-palette($mat-indigo);
$scm-accent: mat-palette($mat-pink, A200, A100, A400);
$scm-warn: mat-palette($mat-red);
$scm-theme: mat-light-theme($scm-primary, $scm-accent, $scm-warn);
@include angular-material-theme($scm-theme);

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.5);
    z-index: 3;
}

.error-icon {
    color: red;
    font-size: 8em;
    height: auto !important;
    width: auto !important;
}
