<form [formGroup]="basicForm" (submit)="onBasicFormSubmit()">
    <div class="form-input-container">
        <div formGroupName="productFilterGroup">

            <h2>Filter Products</h2>

            <mat-form-field appearance="outline">
                <mat-label>Product</mat-label>
                <mat-select formControlName="productSelect">
                    <mat-option *ngFor="let product of productSelectOptions" [value]="product.gpn">{{ product.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categorySelect">
                    <mat-option *ngFor="let category of categorySelectOptions" [value]="category.code">
                        {{ category.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Supplier</mat-label>
                <mat-select formControlName="supplierSelect">
                    <mat-option *ngFor="let supplier of supplierSelectOptions" [value]="supplier.code">
                        {{ supplier.name }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div formGroupName="locationFilterGroup">

            <h2>Filter Locations</h2>

            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="countrySelect">
                    <mat-option *ngFor="let country of countrySelectOptions" [value]="country.code">{{ country.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>State/Region</mat-label>
                <mat-select formControlName="regionSelect">
                    <mat-option *ngFor="let region of regionSelectOptions" [value]="region.code">{{ region.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select formControlName="citySelect">
                    <mat-option *ngFor="let city of citySelectOptions" [value]="city.code">{{ city.name }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div formGroupName="additionalFilterGroup">

            <h2>Additional Properties</h2>

            <mat-form-field appearance="outline">
                <mat-label>Minimum Lead Time</mat-label>
                <input matInput type="number" formControlName="minLeadTimeInput">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Maximum Lead Time</mat-label>
                <input matInput type="number" formControlName="maxLeadTimeInput">
            </mat-form-field>

        </div>
        <div formGroupName="mapPropFilterGroup">

            <h2>Map Properties</h2>

            <div class="mat-checkbox-field">
                <mat-checkbox formControlName="uniqueCheckbox">Unique</mat-checkbox>
            </div>
            <div class="mat-checkbox-field">
                <mat-checkbox formControlName="drawPathCheckbox">Draw Path</mat-checkbox>
            </div>
            <div class="mat-checkbox-field">
                <mat-checkbox formControlName="singleSrcCheckbox">Single Source</mat-checkbox>
            </div>
        </div>
    </div>
    <button mat-flat-button color="primary" type="submit">Submit</button>
</form>
