<div class="container">
    <form [formGroup]="sidePanelFormGroup" (submit)="sidePanelFormSubmit()">
        <mat-accordion multi togglePosition="before">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Basic
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <scm-basic-filter></scm-basic-filter>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Upstream
                    </mat-panel-title>
                    <mat-icon class="color-blue">trending_flat</mat-icon>
                </mat-expansion-panel-header>
                <scm-upstream-filter></scm-upstream-filter>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Contract Manufacturers
                    </mat-panel-title>
                    <mat-icon>panorama_fish_eye</mat-icon>
                </mat-expansion-panel-header>
                <scm-cm-filter></scm-cm-filter>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Downstream
                    </mat-panel-title>
                    <mat-icon class="color-red">trending_flat</mat-icon>
                </mat-expansion-panel-header>
                <scm-downstream-filter></scm-downstream-filter>
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-raised-button color="primary" class="submit-button" [disabled]="loading">Submit</button>
    </form>
    <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
        <h3>Loading data...</h3>
    </div>
</div>
