.pd-10 {
    padding: 10px;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.submit-button {
    margin-top: 24px;
}

mat-panel-title {
    font-size: 1.5em;
}

@import 'src/styles.scss';

mat-expansion-panel {
    border-left: 5px solid mat-color($scm-primary);
}