<agm-marker *ngFor="let marker of this.markers"
    [latitude]="marker.lat"
    [longitude]="marker.long"
    [iconUrl]="{
        url: marker.iconUrl,
        scaledSize: {
            width: 20,
            height: 20
        }
    }">
    <agm-info-window>
        <div><b>Name</b>: {{ marker.data.name.join(", ") }}</div>
        <div><b>Type</b>: {{ marker.type.join(", ") }}</div>
        <div><b>Product</b>: {{ marker.data.product.join(", ") }}</div>
        <div><b>Avg. LT</b>: {{ marker.data.avgLeadTime }}</div>
        <div><b>City</b>: {{ marker.data.city }}</div>
        <div><b>Region</b>: {{ marker.data.state + ' ' + marker.data.country }}</div>
    </agm-info-window>
</agm-marker>

<scm-line *ngFor="let line of this.lines" [route]="line">
    <div><b>Route Identifier</b>: {{ line.from.city + '_' + line.to.city }}</div>
    <div><b>Route Stage</b>: {{ line.type }}</div>
</scm-line>