<div *ngIf="riskQueryResult">
    <mat-form-field appearance="outline">
        <mat-label>Supplier</mat-label>
        <mat-select (selectionChange)="selectSupplier($event.value)">
            <mat-option *ngFor="let row of riskQueryResult" [value]="row[RISK_COLS.SUPPLIER_NAME]">
                {{ row[RISK_COLS.SUPPLIER_NAME] }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="card-container" *ngIf="selectedSupplier">
        <div class="card" *ngIf="supplierStackedRisk">
            <div class="card-header">
                <b>Risk Count - {{ selectedSupplier[RISK_COLS.SUPPLIER_NAME] }}</b>
            </div>
            <div class="chart-container d3-chart">
                <scm-bar-chart [data]="supplierStackedRisk" [legend]="supplierStackLegend" [fontSize]="'1.4rem'"></scm-bar-chart>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>Risk Distribution - {{ selectedSupplier[RISK_COLS.SUPPLIER_NAME] }}</b>
            </div>
            <div class="chart-container">
                <ngx-datatable class="material no-box fullscreen" [columnMode]="ColumnMode.force" [headerHeight]="50"
                    rowHeight="35" [rows]="supplierRiskHeatmap">
                    <ngx-datatable-column [name]="col.name" [prop]="col.prop" [cellClass]="heatmapCellClass"
                        [sortable]="col.sortable" *ngFor="let col of heatmapColumns"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
