<agm-marker *ngFor="let marker of this.layer.markers" [latitude]="marker.latitude" [longitude]="marker.longitude"
    [iconUrl]="{
    url: marker.iconUrl,
    scaledSize: {
        width: 20,
        height: 20
    }
}" (markerDblClick)="filter(marker)">
    <agm-info-window>
        <div><b>Name</b>: {{ marker.data.name.join(", ") }}</div>
        <div><b>Part Type</b>: {{ marker.data.category.join(", ") }}</div>
        <div><b>SC Node</b>: {{ marker.type.join(", ") }}</div>
        <div><b>Product</b>: {{ marker.data.mpn ? marker.data.mpn.join(", ") : marker.data.sku.join(", ") }}</div>
        <div *ngIf="marker.data.mpn"><b>Part Count</b>: {{ marker.data.mpn.length }}</div>
        <div><b>City</b>: {{ marker.data.city }}</div>
        <div><b>Country</b>: {{ marker.data.country }}</div>
    </agm-info-window>
</agm-marker>

<div *ngIf="showLines">
    <scm-line *ngFor="let line of this.layer.lines" [route]="line">
        <div><b>Route</b>: {{ line.from.city + '_' + line.to.city }}</div>
        <div><b>SC Node Stream</b>: {{ line.type }}</div>
    </scm-line>
</div>
<div #toggleDiv class="toggle-div">
    Show Lines: <mat-slide-toggle [checked]="this.showLines" [(ngModel)]="this.showLines"></mat-slide-toggle>
</div>