.container {
    height: 100%;
    width: 100%;
}

.filter {
    margin: 15px;
    position: fixed;
    z-index: 10;
}

scm-side-panel {
    max-width: 30%;
}

mat-drawer-container {
    height: 100%;
}