.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scm-sidenav-container {
    flex: 1 0 auto;
}

scm-side-panel {
    max-width: 30%;
}
