.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.scm-toolbar {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.product-name-container {
    display: flex;
    align-items: center;
}
.product-name {
    color: #5f6368;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.scm-sidenav-container {
    flex: 1 0 auto;
}
