<mat-toolbar class="scm-toolbar">
    <div class="left">
        <button mat-icon-button (click)="menuClicked()">
            <mat-icon *ngIf="isNavOpen; else navHamburgerIcon">keyboard_backspace</mat-icon>
            <ng-template #navHamburgerIcon>
                <mat-icon>menu</mat-icon>
            </ng-template>
        </button>
        <img class="logo" src="assets/scm_logo.png">
        <h1 class="product-name">Supply Chain Map</h1>
    </div>
    <img class="profile-img-toolbar" [src]="this.profileData.imageUrl" [matMenuTriggerFor]="profileDialog">
</mat-toolbar>
<mat-menu #profileDialog="matMenu">
    <div class="profile-menu-container">
        <img class="profile-img-menu" [src]="this.profileData.imageUrl">
        <h2 class="profile-name">{{ this.profileData.name }}</h2>
        <p class="profile-email">{{ this.profileData.email }}</p>
        <button mat-stroked-button class="sign-out-btn" (click)="signOut()">Sign out</button>
    </div>
</mat-menu>