.scm-toolbar {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    align-items: center;
}
.product-name {
    color: #5f6368;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.logo {
    padding: 0 5px 0 5px;
    height: 32px;
    width: 32px;
    object-fit: contain;
}
.profile-img {
    height: 32px;
    width: 32px;
    object-fit: contain;
    border-radius: 16px;
    cursor: pointer;
}
