name: Build
on:
  push:
    branches:
      - master

jobs: 
  build:
    env:
      working-direcory: ./web/scm 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    
    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        working-directory: ./web/scm 
        run: |
          npm ci --no-optional
      - name: set config
        working-directory: ./web/scm
        env:
          GMAPS_API_KEY: ${{ secrets.GMAPS_API_KEY }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
        run: npm run config
      - name: npm test
        working-directory: ./web/scm 
        run: |
          npm test
      - name: npm build
        working-directory: ./web/scm 
        run: |
          npm run-script build
      - name: set google auth
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: upload files
        uses: GoogleCloudPlatform/github-actions/upload-cloud-storage@master
        with:
          path: ./web/scm/dist/scm
          destination: supply-chain-map
