.container {
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layer-list-item {
    padding: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.layer-list-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    font-weight: 400;
}

.layer-list-item-body {
    display: flex;
}

.legend-item {
    display: flex;
    align-items: center;
    background: #3f51b51f;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.spectrum {
    height: 20px;
    width: 150px;
    margin: 0 5px;
}

.legend-icon {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}